<p>
  <a class="btn btn-primary pull-right" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Command Here
  </a>
</p>
<div class="collapse" id="collapseExample">
