<%- include('../partials/header',{})%>

<%- include ../partials/menu%>
  
<form method="post" action="/login/signup">
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" name="username">
    </div>
    <div class="col">
      <input type="password" class="form-control" placeholder="Last name" name="password">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>


 <%- include('../partials/footer',{})%>